.DS_Store
.bundle
.rvmrc
.rsync_cache/
.sass-cache/
.env.*
db/*.sqlite3
log/*.log
tmp/
Capfile
config/deploy*
doc/
public/assets
node_modules
yarn.lock

#public/assets/.sprockets*
#public/assets/application-*
#public/assets/private-*
#public/assets/spinner*
