# Crontab for Solarish-systems
0,5,10,15,20,25,30,35,40,45,50,55 * * * * cd /home/ruby/www/current ; source /home/ruby/www/current/.env ; PATH="/home/ruby/www/shared/gems/gem_home/bin:/home/ruby/www/shared/gems/gem_home/bin:/usr/local/sbin:/usr/local/bin:/opt/local/sbin:/opt/local/bin:/usr/sbin:/usr/bin:/sbin" GEM_PATH="/home/ruby/www/shared/gems/gem_home:/opt/local/lib/ruby/gems/2.2.0" GEM_HOME="/home/ruby/www/shared/gems/gem_home" RAILS_ENV='production' bundle exec rake -f ./Rakefile --silent zlist:email:receive_imap username="${ZLIST_UID}" password="${ZLIST_PWD}" host="${MAIL_HOST}" port=993 ssl=true 1>/dev/null
#1,6,11,16,21,26,31,36,41,46,51,56 * * * * cd /home/ruby/www/current ; source /home/ruby/www/current/.env ; PATH="/home/ruby/www/shared/gems/gem_home/bin:/home/ruby/www/shared/gems/gem_home/bin:/usr/local/sbin:/usr/local/bin:/opt/local/sbin:/opt/local/bin:/usr/sbin:/usr/bin:/sbin" GEM_PATH="/home/ruby/www/shared/gems/gem_home:/opt/local/lib/ruby/gems/2.2.0" GEM_HOME="/home/ruby/www/shared/gems/gem_home" RAILS_ENV='production' bundle exec rake -f ./Rakefile --silent zlist:email:receive_imap username="${ZLIST_LEADER_UID}" password="${ZLIST_LEADER_PWD}" host="${ZLIST_LEADER_HOST}" port=993 ssl=true 1>/dev/null
